.prof{
    padding: 50px 150px;
    font-family: 'Poppins';
}
.prof-intro h2{
    font-size: 40px;
    color: #73501c;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: left;
}

.prof-content{
    margin: 10px 0px;
}
.prof-para{
    margin: 30px 0px;
}
.prof-event-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    row-gap: 5px;
    max-width: 100%;
}

@media (max-width: 1024px) {
    .prof {
        padding: 20px 50px;
    }

    .prof-intro h2 {
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 15px;
    }

    .prof-event-content {
        flex-direction: column;
        align-items: left;
    }

    .prof-event-content h4 {
        font-size: 1.5rem;
    }

    .prof-event-content p {
        font-size: 1rem;
    }

    .prof-para {
        margin: 20px 0;
    }
}

/* Responsive Design for Small Devices (Max-width 480px) */
@media (max-width: 480px) {
    .prof {
        padding: 15px 30px;
    }

    .prof-intro h2 {
        font-size: 2rem;
        text-align: left;
    }

    .prof-event-content h4 {
        font-size: 1.3rem;
    }

    .prof-event-content p {
        font-size: 0.9rem;
    }

    .prof-para h3 {
        font-size: 1.8rem;
    }
}

