@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600&display=swap");
body {
  font-family: "Poppins", "sans-serif";
}

.topContainer {
  margin: 50px;
  padding-left: 30px;
}
.subheading {
  margin: 10px;
}
.list {
  margin: 25px;
  padding-left: 30px;
}

a {
  color: #230886;
  text-decoration: none;
  padding-bottom: 10px;
}
.links {
  padding-bottom: 40px;
}
p {
  font-size: 40px;
}
.li1,
.li2,
.li3,
.li4 {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 17px;
}
/* .li4 {
  gap: 5px;
} */
.subHeading1 {
  font-size: 17px;
}
.subHeading {
  font-size: 17px;

}
.lastSec {
  margin-left: 30px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
