.ariia{
    padding: 50px 150px;
    font-family: 'Poppins';
}
.ariia-intro img{
    max-width: 100%;
}
.ariia-intro h2{
    font-size: 40px;
    color: #73501c;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: left;
}
.ariia-para h3{
    margin: 10px 0px;
}
.ariia-content{
    margin: 10px 0px;
}
.ariia-para{
    margin: 30px 0px;
}
.ariia-event-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    row-gap: 10px;
    max-width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.ariia-list-new{
    list-style: none;
}
.ariia-event-content li:hover{
    color: #73501c;
    cursor: pointer;
}

@media screen and (max-width: 912px) {
    .ariia {
        padding: 20px 50px;
    }

    .ariia-intro h2 {
        font-size: 28px;
    }

    .ariia-para {
        margin: 15px 0;
    }

    .ariia-para h3 {
        font-size: 20px;
    }

    .ariia-list-new {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .ariia {
        padding: 20px 30px;
    }

    .ariia-intro h2 {
        font-size: 24px;
    }

    .ariia-para h3 {
        font-size: 18px;
    }

    .ariia-list-new {
        font-size: 16px;
        padding: 5px;
    }
}