.contact {
    padding: 50px 100px;
    font-family: 'Poppins';
}

.contact h2 {
    font-size: 50px;
    color: #73501C;
    margin-bottom: 20px;
}

.details li {
    list-style-type: none;
}

.address-item-1 {
    font-size: 25px;
}

.address-item {
    font-size: 18px;
}

.details ul {
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .contact {
        padding: 100px 50px;
    }
    
    .contact h2 {
        font-size: 40px;
    }
    
    .address-item-1 {
        font-size: 22px;
    }
    
    .address-item {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .contact {
        padding: 100px 50px;
    }

    .contact h2 {
        font-size: 40px;
    }

    .address-item-1 {
        font-size: 22px;
    }

    .address-item {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 100px 50px;
        text-align: left; /* Center-align content on smaller screens */
    }

    .contact h2 {
        font-size: 38px;
    }

    .address-item-1 {
        font-size: 20px;
    }

    .address-item {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .contact {
        padding: 100px 50px;


    }

    .contact h2 {
        font-size: 42px;
    }

    .address-item-1 {
        font-size: 18px;
    }

    .address-item {
        font-size: 14px;
    }
}


