.container {
  margin: 65px 150px;
  padding: 20px;
}
.line {
  width: 60dvw;
}
.img-tag {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
.caption {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-heading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #444;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
  position: relative;
}

ul li::before {
  content: "•";
  position: absolute;
  left: -20px;
  color: #007bff; /* Change this color to match your theme */
  font-size: 20px;
}
.NBA {
  margin: 50px;
}
