.adv{
    padding: 50px 150px;
    font-family: 'Poppins';
}

.adv h2{
    font-size: 40px;
    color: #73501c;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: left;
}

@media (max-width: 768px) {
    .adv {
      padding: 30px 50px; /* Reduce padding for smaller screens */
    }
  
    .adv h2 {
      font-size: 32px; /* Reduce font size */
      max-width: 100%; /* Allow full width usage */
      text-align: left; /* Center-align heading */
    }
  }
  
  /* For mobile phones */
  @media (max-width: 480px) {
    .adv {
      padding: 20px 40px; /* Further reduce padding for mobile */
    }
  
    .adv h2 {
      font-size: 24px; /* Smaller font size for mobile */
      margin-bottom: 15px; /* Adjust spacing */
      text-align: left; /* Keep heading centered */
    }
  }