.navbar{
    height:110px;    
    width: 100%;

    padding: 0vw 20px;
    /* padding-top: 1vw; */
    display: flex;
    background-color: white;
    align-items: center;
    /* padding: 0px; */
    /* background-color: green; */
    box-sizing: border-box;
    
   
}  

@media( max-width : 1200px){
    .navbar{
      display: none;
    }
  }

.logo_section{
    /* margin-bottom: 10px; */
    /* background-color: red; */

}

.logo_section img{
    height:100%;
    
}
.navbar_right{
    height: 90%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    /* background-color: red; */
    align-items: flex-end;

}    
.important_links{
    padding-top: 10px;
    display: flex;
    width: 90%;
    /* background-color: red; */
    justify-content: flex-end;
    align-items: center;
    /* background-color: black; */
    height: 20%;
}

.important_link{
    font-family: 'poppins';
    text-decoration: none;
    margin: 0px 10px;
    height: 100%;
    color: #734A0C;
    /* background-color: green; */
    border-right: 1px solid #3D2502;
    padding-right: 20px;
    width: max-content;
    align-items: center;
    border-right: 2px solid #734A0C;
    display: flex;
    flex-direction: row;
}

.important_link img{
    height: 15px;
    width: 20px;
    margin-right: 5px;
    
}

.important_links_button{
    border: 0px ;
    background-color: #251C0E;
    /* background-color: blue; */
    padding: 5px 20px ;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;

}
.last_link{
    border: 0px;
}


.navbar_menus{
    display: flex;
    justify-content: space-between;
    width: 96%;

    /* background-color: blue; */
    /* background-color: green; */
}
.navbar_menu{
    font-family: var(--font1);
    font-size: 16px;
    position: relative;
    /* padding-bottom: 10px; */
    /* margin: 30px 10px; */
    /* background-color: red; */
}


.submenu{
    /* display: none; */
    overflow: hidden;
    position: absolute;
    top: 100% ;
    min-width: 150px;
    /* overflow: visible; */
    left: 0px;
    width: max-content;
    background-color: white;
    /* background-color: red; */
    box-shadow:0px 1px rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    height: 0px;
    /* transition: height 0.5s; */
    transition: height 0.4s ease-out;
    z-index: 100;
}
.submenu ul{
    display: flex;
    flex-direction: column;
    
}

.submenu_2{
    position: absolute;
    /* right: 100%; */
    left: 100%;
    top: 0px;
    min-width: 150px;
    /* background-color: red; */
    background-color: white;
    display: none;
}

.submenu_2_link{
    color: black;
    padding: 8px 30px;
    /* width:100%; */
    text-decoration: none;
    transition: 0.2s;
}

.submenu_2_link:hover{
    background-color: rgb(238, 238, 238);
}

/* .submenu_link */

.navbar_menu:hover   .submenu {
    overflow: visible;
    height: max-content;
} 

.submenu_link:hover .submenu_2{
    display: flex;
}

.towards_left{
    left: unset;
    right: 0px;
    /* background-color: red; */
}

.submenu:hover{
    height: max-content;
}

.submenu_link {
    color: black;
    padding: 8px 30px;
    /* width:100%; */
    text-decoration: none;
    transition: 0.2s;
}
.submenu_link:hover{
    background-color: rgb(238, 238, 238);
}