.iqac{
    display: flex;
    /* background-color: green; */
    justify-content: space-around;
    /* background-color: red; */
}

.iqac_content{
    width: 70%;
    /* background-color: red; */
}

.meeting_minutes{
    margin-top: 40px;
}

.all_minutes{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}





.criteria{
    margin-top: 10px;
    margin-bottom: 30px;
}

a{
    color: rgb(4, 4, 107);
    text-decoration: none;
    /* margin: 0px 5px; */
}

.iqac_criterias p{
    margin: 8px 0px;
}


@media ( max-width : 100vh){
    .iqac_content{
    
        width: 100%;
    }

    td{
        /* font-size: 10px; */
        width: min-content;
    }
}