.container {
    padding-left: 150px;
    padding-right: 150px;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 18px;
    /* height: 100vh; */
    overflow-x: hidden;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
    color: #845714;
    margin-top: 20px;
}
.hall-div .paragraph{
    font-family: 'poppins';
    font-size: 18px;
    padding-right: 3%;
}
.photo img{
    width: auto;
    height: 65vh;
}
.hall-div{
    display: flex;
}

/* for tab */

@media (max-width:1400px){
    .container{
        padding-right: 10%;
        padding-left: 10%;
        font-size: 16px;
    }
    /* .title{
        font-size: 26px;
    } */
    .photo img{
       height: 45vw;
       width: 80vw;
    }
    .hall-div{
        flex-direction: column-reverse;
    }
}

@media (max-width:900px)
{
    .photo img{
        height: 38vw;
    }
}


/* phone */
@media (max-width:480px){
.container{
    padding-left: 30px;
    padding-right: 30px;
}
.title{
    font-size: 24px;
}
.paragraph{
    font-size: 16px;
}

}