.feedback {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw; 
    font-weight: 700;
    line-height: 1.5em; 
    text-align: left;
    color: #845714;
}


.container {
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'Poppins', sans-serif; 
}


.feedback-analysis {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.5em;
    text-align: left;
}

.feedbacklinks {
    padding-left: 5%;
}

.link {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}


.image {
    width: 100%; 
    max-width: 1219px; 
    height: auto; 
    opacity: 0px; 
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
    .feedback {
        font-size: 2rem;  
    }

    .feedback-analysis {
        font-size: 1.2rem;
    }

    .image {
        width: 100%;  
        max-width: 400px; 
        height: auto;  
    }
}

/* For tablets and other devices */
@media only screen and (max-width: 768px) {
    .feedback {
        font-size: 5vw;
    }

    .feedback-analysis {
        font-size: 1.3rem;
    }

    .image {
        width: 100%; 
        max-width: 600px;  
        height: auto;  
    }
}
