.container {
    /* height: 100vh; */
    padding-left: 10vw; /* Adjust for better scaling on all devices */
    padding-right: 10vw;
    font-weight: 400;
    overflow-x: hidden;
  }
  
  /* Title style */
  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw; /* Adjust based on viewport width for scaling */
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
    color: #845714;
  }
  
  /* Paragraph style */
  .main {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem; /* Font-size in rem for scaling */
  }
  .heading{
  font-size: 20px;
  font-family: 'poppins';
  font-weight: 600;
  margin-bottom: 5px;
  }
  .link{
    text-decoration: none;
    height: 25px;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E6B66D;
    border-radius: 20px;
  }
  .link:hover{
    color: #845714;
    text-decoration: none;
    background-color: #b77d27;
  }
  .pic{
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .pic img{
    height: 30vw;
    padding-left: 0px;
    margin-left: 0px;
  }

  @media (max-width:1200px) {
    .title{
        font-size: 35px;
    }
    .heading{
        font-size: 23px;
    }
    b{
        font-size: 20px;
    }
  }

  @media (max-width:480px) {
    .container {
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 14px;
      }
    .heading{
      font-size: 16px;
      display: flex; 
    }
      .title {
        font-size: 30px;
        margin-top: 0px;
      }
      p{
        font-size: 14px;
      }
      .link{
        font-size: 14px;
      }
      .pic img{
        height: 40vw;
        width: 75vw;
      }
      .main{
        padding: 0px;
      }
      .pic
      {
        display: flex;
        padding: 0px;
        justify-content: left;
        align-items: center;
      }
  }