@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: 'poppins';
}

html, body{
  width: 100%;
  /* min-width: 100vh; */
  background-color: #E6E6E6;
  /* background-color: red; */
  /* overflow-x: hidden; */
}

body{
  min-height: 100vh;
  /* height: max-content; */
}

.page_container{
  /* background-color: green; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




:root{

  --font1: 'poppins'
}

.page{
  height: 100vh;
  /* background-color: red; */
  width: 80vw;
  margin: auto;
  height: 100%;
  min-height: 60vh;
  padding: 5%;
  box-sizing: border-box;
  /* background-color: red; */
}

.page_heading {
  color: #845714;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem; 
  font-weight: 700;
  line-height: 1.2em; 
  text-align: left;
  margin-bottom: 20px;

  /* border-bottom: 1px solid ; */
  /* text-indent: 105px; */
  /* background-color: black; */
}

.page_heading2{
  margin-top: 20px;
  font-size: 1.3rem;
  margin-bottom: 20px;
  
}

.line{

  height: 1px;
  width: 100%;
  background-color: #bebebe;
  margin-bottom: 30px;
  margin-top: 10px;
}

list { 
  /* background-color: red; */
  /* margin-left: 0px; */
  width: 100%;
  margin-bottom: 20px;


}

p{
  font-size: 18px;
}

.list li {

  margin-left: 1em;
  font-size: 18px;
  margin-bottom: 8px;
}

.list a {

  text-decoration: none;
}

.para{
  margin-bottom: 30px;
}



@media( max-width : 100vh){
  .navbar{
    display: none;
  }
  .page{
    width: 90vw;
    padding: 5%;
  }
  .page_heading{
    font-size: 2rem;
  }
}