.activities {
    padding: 50px 120px;
    font-family: 'Poppins', sans-serif;
}

.activities h2 {
    font-size: 50px;
    color: #73501C;
    margin-bottom: 10px;
}
.activities span{
    text-align: justify;
    font-size: 15px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    column-gap: 120px;
}

.details p {
    font-size: 18px;
    text-align: justify;
    width: 100%;
}

.pic img {
    max-width: 700px;
    height: 300px;
}

/* Responsive for tablets */
@media (max-width: 1024px) {
    .details {
        flex-direction: column;

    }
    .details h2{
        margin-bottom: 20px;
    }

    .details p {
        width: 100%;
        margin-bottom: 30px;
        height: auto;
    }

    .pic img{

        width: 100%;
    }
}

/* Responsive for mobiles */
@media (max-width: 480px) {
    .activities{
        padding: 50px;
    }
    .activities h2 {
        font-size: 36px;
        text-align: left;
        margin-bottom: 20px;
    }

    .details p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .pic img{
        margin-right: 150px;
        width: 90%;
        height: 90%;
    }
}
