.container {
    padding-left: 150px;
    padding-right: 150px;
    /* font-weight: 400; */
    overflow-x: hidden;
    font-size: 18px;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
    color: #845714;
    margin-top: 20px;
}
.paragraph{
    font-family: 'poppins';
    font-size: 18px;
}
/* images */
.imageone img{
   height: 25vw;    
}
.imagetwo img{
    height: 25vw;
}
.imagethree img{
    height: 25vw;
   
}
.imagefour img{
    height: 35vw;
    width: 60vw;
  
}
.imagefive img{
    height:40vw;
    margin-bottom: 60px;
}

.heading{
    font-size: 25px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: justify;
    margin-bottom: 20px;    
}
.content ul {
   padding-left: 2%;
    /* font-weight: 400; */
}


.faculty-table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.faculty-table tr {
    border-bottom: 3px solid #ddd;
}

.faculty-table td {
    padding: 12px;
    vertical-align: top;
}

.faculty-table td:first-child {
    width: 50%;
}

.faculty-table td:last-child {
    width: 50%;
}

/* for tab */
@media (max-width:1400px){
    .container{
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (max-width:1200px){
    .container{
        padding-right: 100px;
        padding-left: 100px;
    }
    .imageone img{
        width: 80vw;
        height: 50vw;
    }
    .imagethree img,.imagefour img{
        width:70vw;
        height: 50vw;
    }
    .imagefive img{
        width: 80vw;
        height: 50vw;
    }
    .content{
        padding-left: 2%;
    }
}
@media (max-width:800px){
    
    .faculty-table{
        width: 90%;
    }
}
/* for mobiles */
@media (max-width:480px){
    .container{
        padding-right: 30px;
        padding-left: 30px;
        font-size: 16px;
    }
   .title{
    font-size: 35px;
   }
    .faculty-table{
        width: 90%;
    }
    .imagetwo img{
        height: 50vw;
        width: 80vw;
    }
    .imagefour img ,.imagethree img{
        width: 80vw;
    }
    .paragraph{
        font-size: 16px
    }
    .content{
        padding-left: 5%;
    }
}



