.container {
  margin: 65px 150px;
  padding: 20px;
}
.line {
  width: 80dvw;
}
.caption {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.con {
  width: 80%;
  margin: 10px;
  text-align: center;
  /* background-color: aqua; */
}
.content,
.subheading,
.pdf {
  margin: 30px;
}
