/* General Styles */

.container {
    width: 100%;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 20px;
}

.heading {
    color: #73510C;
    font-size: 3rem;
    font-weight: 750;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

.heading:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #73510C;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    max-width:90dvw;
}

.pic img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(161, 99, 99, 0.1);
    transition: transform 0.3s ease;
}

.pic img:hover {
    transform: scale(1.02);
}

.paragraph {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1.18rem;
    width: 90%;
    margin: 30px auto;
    padding: 40px;
    /* background-color: #ffffff; */
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(77, 67, 55, 0.1);
    line-height: 1.8;
    color: #333;
}

.paragraph b {
    font-size: 2.2rem; 
}

.name {
    font-size: 2.5rem;
    font-weight: 700;
    color: #73510C;
    display: inline;
    margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
    .profile {
        font-size: 4vw; 
        text-align: left;
        text-indent: 50px;
    }

    .pic img {
        width: 70vw;
    }

    .paragraph b {
        font-size: 1.2rem;
    }
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
    .profile {
        font-size: 5vw; 
        text-align: left;
        text-indent: 0px;
    }

    .paragraph b {
        font-size: 1rem;
    }

    .pic {
        flex-direction: column; 
    }
}

@media (max-width:480px) {
    .heading {
        font-size: 2rem;
    }

    .paragraph {
        width: 95%;
        padding: 20px;
        margin: 20px auto;
        font-size: 1rem;
    }

    .name {
        font-size: 1.8rem;
    }

    .pic {
        margin: 20px auto;
    }

    .pic img {
        border-radius: 15px;
    }

    .container
    {
        font-size: 14px;
    }
    .profile
    {
        font-size: 30px;
        padding-left: 20px;
    }
}
