/* General Styles */


.container {
    width: 100vw;
}

.main {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e3e3e3;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    
}

.pic img {
    /* height: 1; */
    width: 100%;
}

/* Paragraph styles */
.paragraph {
    font-family: 'Poppins', sans-serif;
    /* padding-left: 8%; */
    /* padding-right: 8%; */
}

.paragraph b {
    font-size: 1.5rem; 
}

.name {
    font-size: 5rem;
    font-weight: 700;
}

/* For tablets and medium devices */
@media only screen and (max-width: 1200px) {
    .profile {
        font-size: 4vw; 
        text-align: left;
        text-indent: 50px;
    }

    .main {
        padding-left: 8%;
        padding-right: 8%;
    }

    .pic img {
        /* width: 80%; 
        max-width: 500px; */
        width: 70vw;
    }

    .paragraph b {
        font-size: 1.2rem;
    }
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
    .profile {
        font-size: 5vw; 
        text-align: left;
        text-indent: 0px;
    }

    .main {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* .pic img {
        width: 100%; 
        max-width: 500px; 
    } */

    .paragraph b {
        font-size: 1rem;
    }

    .pic {
        flex-direction: column; 
    }
}

@media (max-width:480px) {

    .pic img{
        height: 40vw;
        width: 80vw;
    }
    .container
    {
        font-size: 14px;
    }
    .profile
    {
        font-size: 30px;
        padding-left: 20px;
    }
}
