.team{
    font-family: 'Poppins';
    padding: 50px 100px;
}

.team h3{
    font-size: 50px;
    color: #73501C;
    margin-bottom: 20px;
}

.team p{
    font-size: 22px;
    margin-bottom: 60px;
}

.training p{
    margin-bottom: 20px;
}

.training-list{
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 22px;
}

.team h4{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 50px;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .team {
        padding: 30px 50px;
    }
    
    .team h3 {
        font-size: 40px;
    }
    
    .team p,
    .training p {
        font-size: 20px;
    }
    
    .team h4 {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .team {
        padding: 20px 40px;
    }

    .team h3 {
        font-size: 35px;
    }

    .team p,
    .training p {
        font-size: 18px;
    }

    .team h4 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .team {
        padding: 15px 40px;
        text-align: left; /* Center text for smaller screens */
    }

    .team h3 {
        font-size: 30px;
    }

    .team p,
    .training p {
        font-size: 16px;
    }

    .training-list {
        font-size: 18px; /* Adjust font size */
    }

    .team h4 {
        font-size: 18px;
    }

    .training-list li {
        text-align: left; /* Align list items to the left */
    }
}

@media (max-width: 576px) {
    .team {
        padding: 25px;
    }

    .team h3 {
        font-size: 28px;
    }

    .team p,
    .training p {
        font-size: 14px;
    }

    .team h4 {
        font-size: 16px;
    }

    .training-list {
        font-size: 16px; /* Further reduce list font size */
    }

    .training-list li {
        padding-left: 15px; /* Add padding to list items */
    }
}