
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');





.landing_page{
    position: relative;
    width: 100%;
    background-color: #E6B66E;
    overflow-x: hidden;
    box-sizing: border-box;

}
.college_background{
    width: 100%; 
    z-index: -1;    
    /* border: 2px solid red; */
}
.landing_page_content{
    position: absolute;
    top: 10%;
    left: 5%;
    font-family: 'poppins';
    color: white;
}
.landing_page h3{
    text-shadow: 2px 2px 5px #000000;

}
.landing_page_title1{
    /* font-size: 100px; */
    font-size: 10vh;
    font-weight: 500;
}
.landing_page_title2{
    font-size: 32px;
    font-weight: 400;
}
.landing_page_title3{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.225);
    width: min-content;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color:rgba(197, 128, 44, 0.88);

    text-transform: uppercase;
    text-shadow: 
       1px 1px 2px rgba(0, 0, 0, 0.3),   /* Light shadow for subtle 3D effect */
       2px 2px 4px rgba(0, 0, 0, 0.2);
    

    font-weight: bold;
}
.landing_page_about_us{
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    margin-top: 5px;
    
}
.landing_page_buttons{
    display: flex;
    margin-top: 20px;
}

.landing_page_buttons a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background-color: white;
    border-radius: 50px;
    margin-right: 30px;
    transition: 0.2s;
}
.landing_page_buttons :nth-child(1){
    background-color: #E6B66D;
}
.landing_page_buttons :nth-child(1):hover{
    background-color: #e59215;
}
.landing_page_buttons :nth-child(2):hover{
    background-color: #c0c0c0;
}


@media ( max-width : 100vh) {
    .landing_page{
        /* align-items: flex-end; */
        /* display: flex; */
        align-items: center;
        justify-content: center;
        /* width: 100vw; */
        /* height: 100%; */
        width: auto;
        height: max-content;
        /* height: 60vh; */
        /* background-color: red; */
        /* justify-content: flex-end; */
        /* align-items: flex-end; */
        /* background-color: red; */
        /* overflow: hidden; */
        /* justify-content: right; */
    }
    .college_background{
        width: auto;
        /* height: 100%; */
        /* height: 70vh; */
        /* margin-left: -90%; */
    }

    .landing_page_title1{
        font-size: 3.4rem;
        line-height: 100%;
    }
    .landing_page_title2{
        font-size: 1.2rem;
    }
    .landing_page_title3{
        font-size: 1.3rem;
        margin-top: 30px;
        
    }
    .landing_page_about_us{
        font-size: 1rem;
        
        width: 90%;
    }
    .landing_page_buttons{
        /* background-color: red; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        width: 100%;
        font-size: 12px;

    }
    .landing_page_content{
        /* background-color: green; */
        width: 100%;
        justify-content: center;
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        padding: 0px 21px;
        box-sizing: border-box;
        left: 0px;
        /* right: auto; */
    }
}

