@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600&display=swap");

.Person {
  margin-left: 80px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  overflow-x: hidden;
}
.name {
  font-size: 35px;
  padding-left: 30px;
}
.position {
  font-size: 22px;
  padding-top: 5px;
  padding-left: 30px;
}
.captionline {
  font-size: 22px;
  padding-top: 5px;
  padding-left: 30px;
}
.content {
  margin-top: 15px;
  font-size: 18px;
  padding-left: 30px;
  line-height: 30px;
  padding-top: 20px;
}
.pic {
  max-height: 30dvh;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
  /* margin: 10px; */
  margin-right: 30px;
  /* padding: 0px; */
  gap: 30px;
}
.line {
  margin-left: 100px;
}
