
  /* Calendar container */
  .calendar-container {
    min-height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto; /* Space above and below the calendar container */
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-icon {
    font-size: 1.2rem;
    color: #e09628;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .search-input:focus {
    border-color: #e09628;
    box-shadow: 0 0 3px rgba(41, 128, 185, 0.5);
  }
  
  /* Calendar list */
  .calendar-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  
  /* Calendar item */
  .calendar-item {
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .calendar-item:hover {
    background-color: #e09628;
    color: #fff;
  }
  
  .calendar-item i {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .calendar-item span {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .calendar-container {
      padding: 20px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .search-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-input {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .calendar-item {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
  
    .calendar-item i {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  