/* Existing CSS */
.iic {
    padding: 50px 100px;
    font-family: 'Poppins';
}
.iic-intro h2 {
    font-size: 40px;
    color: #73501c;
    margin-bottom: 40px;
    max-width: 500px;
    text-align: left;
}
.iic-intro {
    margin: 30px 0px;
    font-size: 16px;
    margin-bottom: 40px;
}
.iic-logo {
    text-align: left;
    font-size: 20px;
}
.iic-para {
    margin: 10px 0px;
}
.iic-event-content {
    text-align: left;
    font-size: 16px;
    margin: 10px 0px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}
.iic-event-list {
    margin: 10px 0px;
}
.iic-event-list li {
    list-style: none;
}

/* Responsive CSS */

/* For tablets (width <= 768px) */
@media (max-width: 768px) {
    .iic {
        padding: 30px 70px;
    }

    .iic-intro h2 {
        font-size: 32px;
        max-width: 100%;
    }

    .iic-intro {
        font-size: 14px;
        margin: 20px 0px;
    }

    .iic-logo {
        font-size: 18px;
    }

    .iic-event-content {
        font-size: 14px;
        max-width: 100%;
    }
}

/* For mobile devices (width <= 480px) */
@media (max-width: 480px) {
    .iic {
        padding: 20px 30px;
    }

    .iic-intro h2 {
        font-size: 28px;
        text-align: left;
    }

    .iic-intro {
        font-size: 12px;
        margin: 10px 0px;
    }

    .iic-logo {
        text-align: left;
        font-size: 16px;
    }

    .iic-event-content {
        font-size:
    }
}