.remote{
    padding: 50px 90px;
    font-family: 'Poppins';
}

h2{
    font-size: 40px;
    color: #73501c;
    margin-bottom: 40px;
}
.remote-pics{
    margin: 20px;
    padding-right: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 40px;
}
.remote-pics img{
    width: 200px;
}
p{
    font-size: 18px;
    margin-bottom: 20px;
}


/* Adjust for smaller screens (tablets) */
/* @media (max-width: 1024px) {
    .remote {
        padding: 30px 50px;
    }

    h2 {
        font-size: 35px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
} */

/* Adjust for mobile screens */
@media (max-width: 500px) {
    .remote {
        padding: 20px 30px;
    }

    h2 {
        font-size: 28px;
    }

    .remote-pics {
        flex-direction: column;
        row-gap: 20px;
        padding-right: 0;
    }

    .remote-pics img {
        width: 200px;
    }

    p {
        font-size: 14px;
        margin-bottom: 20px;
    }
}