.container {
    padding-left: 150px;
    padding-right: 150px;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 18px;
    height: 80vh;
   
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
    color: #845714;
    margin-top: 20px;
}
 .canteen-div .paragraph{
    font-family: 'poppins';
    font-size: 18px;
    /* margin-bottom: 50px; */
    padding-left: 3%;
}
.photo img{
    width: 35vw;
    /* height: 60vh;
     */
}
.canteen-div
{
    display: flex;
}

/* for tab */
@media (max-width:1400px){
    .container{
        padding-right: 150px;
        padding-left: 150px;
     
    }
    .photo img{
         width: 80vw;
       
    }
    .canteen-div{
        flex-direction: column;
    }
}

@media (max-width:1200px){
    .container{
        padding-right: 100px;
        padding-left: 100px;
        height: 100vh;
    }
    .photo img{
        width: 65vw
        /* height: 600px; */
    
    }
    .paragraph{
        font-size: 16px;
    }
}
@media (max-width:950px){
    .container{
        padding-right: 100px;
        padding-left: 100px;
        font-size: 14px;
        height: 100vh;
    }
    .photo img{
        width: 50vw;
        /* height: 20vw; */
    }
    .paragraph{
        /* margin-top: 70px; */
        margin-bottom: 50px;
    }
}
/* @media(max-width:920px)
{
    .photo img{
        height: 450px;
    }
} */
@media (max-width:700px){
    .container{
        padding-right: 40px;
        height: 100vh;
    }
    .title{
        font-size: 25px;
    }
    .photo img{
        width: 350px;
        height: 230px;
    }
}

/* phone */
@media (max-width:480px){
.container{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}
.title{
    font-size: 20px;
}
.paragraph{
    margin-top: 15%;
    font-size: 16px;
}
.photo{
    width: 350px;
    height: 180px;
}
}
@media(max-width:400px)
{
    .photo img{
        width: 300px;
    }
}
