.container {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 18px;
    height: 80vh;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    /* line-height: 1.5em; */
    text-align: left;
    color: #845714;
    margin-top: 20px;
    margin-bottom: .5%;
}
.paragraph{
    font-family: 'poppins';
    font-size: 18px;
    margin-top: .8%;
}
.links {
    width: 436px;
    /* height: 68px; */
    padding: .5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6B66D;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.links:hover{
    color: rgb(211, 145, 3);
}

@media (max-width:1200)
{
 .paragraph{
    font-size: 16px;
 }   
 .links{
    width: 50vw;
 }
    
}
@media (max-width:480px)
{
    .title{
        font-size: 26px;
    }
    .paragraph{
        font-size: 16px;
    }
    .links{
        width: 50vw;
        font-size: 16px;
     }
}