body{
    /* background-color: aqua; */
    font-family: 'poppins';
   
}
.container{
    padding: 40px 150px;
}
.title{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    /* line-height: 84.75px; */
    text-align: left;
    color:   #73501C;
    margin-bottom: 15px;
}
/* ---------------------- */

.photolinks{
    margin: 80px auto;
    width: 90%;
    height: 180px;
    display: flex;
    align-items: center;
    margin: 30px 30px 30px ;
    /* justify-content: space-between; */

}
.photolink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 300px;
    background-size: contain;
    background-image: url('../../../assets/images/admissions/arrow.png');
}
.phototext{
    padding-left: 25px;
    font-size: 18px;
    font-family: 'poppins';
    color:#000000 ;
    font-weight: 500;
}
.phototext:hover {
    color: #f48208;
    text-decoration: none; /* Ensures no underline appears on hover */
}

/* ----------------------------------------- */
.headings{
    font-size: 22px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 10px;
}
 .photo{
    width: 500px;
    height: 370px;
}
.paragraph{
    font-family: 'poppins';
    font-size: 18px;
}
.links{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: aqua; */
    padding-bottom: 0px;
    padding-top: 10px;
}
.link {
    width: 436px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6B66D;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}
.no-underline {
    text-decoration: none;
    color: inherit; /* Optional: Ensures the text color remains default or inherited */
}

.no-underline:hover {
    color: #f48208;
    text-decoration: none; /* Ensures no underline appears on hover */
}
.box{
    border: 3px solid red;
    border-radius: 20px;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
/* for tab and other  */
@media (max-width:900px){
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .photo{
        width: 65%;
    }
    .box{
        width: 80%;
        padding-left: 30px;
       /* display: flex; */
       /* align-items: center; */
       /* justify-content: center; */
       /* text-align: justify; */
    }
}


/* for phone */
@media (max-width:480px){
    .title{
        font-size: 35px;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .headings{
        font-size: 20px;
    }
    .paragraph{
        font-size: 16px;
    }
    .photo{
        width: 100%;
        height: auto;
    }
    .pic-container{
        height: 90px;
    }
    .link {
        width: 300px;
        font-size: 16px;
    }
    .box{
        width: 100%;
        padding-left: 15px;
        font-size: 14px;
        /* padding-right: 15px; */
        width: 300px;
        display: flex;
        text-align:center;
    }
    .last{
        padding-left: 20px;
    }
    .last .headings{
        /* color: rebeccapurple; */
        text-align: left;
    }

.photolinks{
    height: 100px;
    width: 350px;
    padding-left: 0px;
    margin-left: 0px;
    display:flex;
    /* justify-content: space-between; */
    /* gap: 0px; */
    }

    .photolink{
        height: 60px;
        width: 200px;
        background-size:contain;  
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .phototext{
        padding-top: 9px;
        /* padding-left: 15px; */
        height: 50px;
        font-size: 9px;
        font-weight:500;
        display: flex;

    }
}