.container{
    /* padding: 40px 150px; */
    padding-left: 10%;
    padding-right: 10%;
    overflow-x: hidden;
}
.title{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    /* line-height: 84.75px; */
    text-align: left;
    color:   #73501C;
    margin-bottom: 15px;
}
.para1,.para2{
    font-family: poppins;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}
.para1{
    padding-left: 1%;
}
.para3{
    font-family: poppins;
    font-size: 18px;
}
.no-line{
    text-decoration: none;
}

@media (max-width:1400px) {
    .title{
        font-size: 30px;
        padding-top: 1%;
    }
}


@media (max-width:1200){
    .container{
        /* padding: 30px 100px; */
        padding-left: 0px;
        padding-top: 0%;
        /* width: 200%; */
        /* background-color: rgb(230, 16, 16); */
        padding-bottom: 500px;
        /* margin-bottom: 100px; */
        font-size: 16px;
    }
    .title{
        padding-top: 2%;
        font-size: 30px;
        background-color: aquamarine;
    }
    .para1{
        padding-left: 50px;
        color: red;
    }
    
}


@media (max-width:480px){
    .container{
        padding: 10px 30px;
        margin-left: 20px;
        height: 100vh;
        font-size: 16px;
    }
    .title{
        font-size: 26px;
        margin-bottom: 0%;
    }
    .para1,.para2,.para3{
        font-size: 16px;
    }
    .para2{
        padding-bottom: 5%;
    }
    .para1{
        padding-left: 5%;
    }
   p{
    font-size: 16px;
   }
}