@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600&display=swap");
body {
  overflow-x: hidden;
}
.management {
  overflow-x: hidden;
  width: 80%;
  margin: auto;
}

.heading {
  margin-top: 30px;
  font-size: 50px;
  /* padding-left: 35px; */
  color: #73501c;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

.majContainer {
  padding: 10px;
  height: 100%;
}

.extracontents p {
  font-size: 20px;
}

.advisorys {
  font-size: 28px;
  /* padding: 2px; */
  margin-top: 20px;
  font-weight: 1000;
}

.listofppl {
  margin-top: 10px;
  line-height: 40px;
  font-size: 18px;
}

.content2 {
  font-size: 22px;
  line-height: 30px;
  margin-top: 40px;
}

.list {
  font-size: 20px;
  line-height: 40px;
  padding-top: 10px;
  padding-left: 40px;
}

.others {
  margin: 20px;
  margin-left: 0px;
  font-weight: 800;
}

.members {
  margin-bottom: 40px;
  line-height: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .management {
    width: 90%;
    margin: auto;
  }

  .heading {
    font-size: 40px;
    padding-left: 10px;
  }

  .majContainer {
    padding: 5px;
  }

  .list,
  .content2 {
    font-size: 20px;
    padding-left: 20px;
  }

  .listofppl {
    font-size: 16px;
  }
}
/* phone screen */
@media (max-width: 480px) {
  .management {
    width: 95%;
    margin: auto;
  }

  .heading {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 25px;
  }

  .majContainer {
    padding: 0%;
    background-color: #eaeaea;
    height: 100%;
    margin-left: 0%;
  }

  .advisorys {
    font-size: 18px;
    padding-left: 29px;
  }

  .listofppl,
  .list,
  .content2 {
    font-size: 14px;
    line-height: 24px;
    padding-left: 5px;
  }

  .extracontents p {
    font-size: 14px;
  }

  .members {
    font-size: 14px;
    line-height: 24px;
  }

  .others {
    margin-left: 20px;
    font-size: 16px;
  }
  .extracontents {
    /* background-color: #73501c; */
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 10px;
    width: 90%;
    margin-right: 10px;
  }
}
